body {
    background: #3C3C3C;
    margin: 0;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    }
    
    #content {
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    width: 78%;
    float: right;
    height: 450px;
    padding: 10px;
    }
    
    p {
    font-family: arial;
    }
    
    #search_con {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    }
    
    #ft-movie {
    width: 100%;
    height: 200px;
    background-color: #333;
    float: left;
    cursor: pointer;
    }
    
    #ft-movie-info {
    height: 80px;
    width: 80%;
    background: rgba(0, 0, 0, 0.81);
    color: #fff;
    position: relative;
    top: 120px;
    font-family: arial;
    float: right;
    }
    
    #ft-movie-info p {
    padding: 30px;
    margin: 0;
    font-family: arial;
    font-size: 19px;
    color: #EEE;
    }
    
    #left {
    background: #12161F;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    }
    
    #sbox {
    width: 85%;
    height: 40px;
    float: left;
    background: #1F2430;
    outline: none;
    color: #CECECE;
    font-size: 12px;
    border: 0px solid #fff;
    }
    
    #sbox:focus {
    background: #343A47;
    }
    
    #sbtn {
    float: left;
    width: 15%;
    height: 40px;
    margin: 0;
    padding: 8px;
    border: 0px solid #fff;
    font-family: arial, FontAwesome;
    background-color: #131925;
    background-image: url(https://designmodo.com/demo/dropdown-menu-search/search.png);
    background-position: center;
    background-repeat: no-repeat;
    }
    
    .options label {
    padding: 5px;
    }
    
    .options {
    float: left;
    background-color: #EBEBEB;
    border: 1px solid #C9C9C9;
    margin: 3px;
    padding: 5px;
    }
    
    #menu {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #B43C3C;
    background-color: !important;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    line-height: 2;
    color: #FFB8B8;
    font-size: 30px;
    }
    
    #xmenu {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #B43C3C;
    background-color: !important;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    line-height: 2;
    color: #FFB8B8;
    font-size: 30px;
    }
    
    #right {
    background: #D8D8D8;
    border-left: solid 1px #BDBDBD;
    width: 20%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    float: right;
    }
    
    .post {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 200px;
    background: #414141;
    float: left;
    margin: 5px;
    }
    
    #fav {
    font-size: 13px;
    padding: 15px;
    width: 100%;
    margin: 0;
    background: #09627E;
    text-decoration: none;
    color: #fff;
    font-family: FontAwesome, arial;
    border: 0;
    position: absolute;
    bottom: 0;
    }
    
    #fav:hover {
    height: 100%;
    font-size: 15px;
    padding-top: 112px;
    background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/19e7d59/images/p/glyph-heart-pop-big.png') center center;
    background-size: 80%;
    background-repeat: no-repeat;
    }
    
    #fav:active {
    background-size: 120%;
    }
    
    #delete-fav {
    font-size: 13px;
    padding: 10px;
    width: 30px;
    height: 40px;
    overflow: hidden;
    line-height: 2;
    margin: 0;
    background: #E94545;
    text-decoration: none;
    color: #fff;
    font-family: FontAwesome, arial;
    font-weight: bolder;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    }
    
    #delete-fav:hover {
    width: 100%;
    font-size: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    }
    
    #info {
    height: 90px;
    margin-top: 110px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }
    
    .sbox {
    margin-bottom: 15px;
    background: #E7E7E7;
    padding: 15px;
    font-family: arial;
    border: solid 1px #DBDBDB;
    width: 85%;
    }
    
    label {
    font-family: arial;
    cursor: pointer;
    }
    
    .green {
    cursor: pointer;
    background-color: #5BD13E!important;
    border: 0px solid #BEBCBC!important;
    display: inline-block;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 38px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #AADE7C;
    width: 200px;
    padding: 0!important;
    height: 50px!important;
    }
    
    .green:hover {
    background-color: #4EAD36!important;
    }
    
    hr {
    color: #DDDDDD;
    border: 1px solid;
    }
    
    
    #load {
    cursor: default;
    width: 95%;
    background: #292929;
    color: #D1D1D1;
    border: solid 1px #202020;
    border-radius: 3px;
    height: 20px;
    font-family: arial;
    font-size: 18px;
    padding: 10px;
    float: left;
    text-align: center;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor:pointer;
    }
    
    #load a {
    background: #DDDDDD;
    color: #696969;
    padding: 10px;
    }
    
    #load a:hover {
    background: #C7C7C7;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    }
    
    .post:hover {
    -webkit-filter: brightness(85%);
      -webkit-transition: -webkit-filter .3s linear;
    -moz-transition: -webkit-filter .3s linear;
    -ms-transition: -webkit-filter .3s linear;
    -o-transition: -webkit-filter .3s linear;
    transition: -web-filter .3s linear;
    }
    
    .no_post_hover:hover{
        -webkit-filter: brightness(100%);
    }
    
    h1 {
    margin: 0;
    padding: 5px;
    font-size: 19px;
    text-align: center;
    color: #F3F3F3;
    }
    
    h2 {
    font-family: arial;
    color: #5F5F5F;
    margin: 4px;
    font-size: 20px;
    }
    
    .post_title {
    font-family: arial;
    color: #5F5F5F;
    margin: 0;
    float: left;
    text-align: left;
    width: 50%;
    }
    
    .post_info {
    font-family: arial;
    color: #8F8F8F;
    margin-left: 8px;
    text-align: left;
    min-height: 155px;
    width: 60%;
    margin-top: 5px;
    }
    
    
    /* tags */
    .tagholder {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    }
    
    .tagitemover {
    background-color: #FF5E5E !important;
    }
    
    .tagitem {
    display: inline-block;
    border: 1px solid #D8D8D8;
    background-color: #F5F5F5;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    float: left;
    cursor: default;
    }
    
    .tagtext {
    float: left;
    position: relative;
    padding: 18px 5px 15px 5px;
    margin: 0px;
    }
    
    .tagclose{
    font:Arial, Helvetica, sans-serif;
    float:left;
    position:relative;
    padding:0px 2px 0px 2px;
    margin:0px;
    cursor:pointer;
    }
    
    .taginput{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    vertical-align: bottom;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    }
    
    .taginput:focus{
    outline:none;
    }
    
    .taginputholder{
    display:inline-block;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:2px;
    padding-right:0px;
    padding-top:7px;
    padding-bottom:0px;
    position:relative;
    top:-5px;
    }
    
    /*/////end tags/////*/
    
    
    #IMDb {
    font-family: arial;
    color: #000000;
    background: #f3ce13;
    float: left;
    height: 15px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    }
    
    #IMDb:hover {
    background: #FFD815;
    }
    
    #trailer {
    font-family: FontAwesome, arial;
    color: #E6E6E6;
    background: #e74c3c;
    background-color: !important;
    float: left;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    }
    
    #trailer:hover {
    background: #F35C4D;
    background-color: !important;
    }
    
    
    #links {
    width: 97%;
    background: #E4E4E4;
    border: solid 1px #D6D6D6;
    float: left;
    overflow: hidden;
    }
    
    .fa {
    font-size: 15px;
    }
    
    #space {
    height: 50px;
    clear: both;
    }
    
    #social_btns {
    height: 50px;
    }
    
    input[type="text"],input[type="url"] {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px;
    margin-bottom: 10px;
    width: 80%;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.13);
    }
    
    input[type="text"]:focus {
    border: 1px solid rgba(110, 68, 68, 0.41);
    }
    
    input[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 200px;
    border: #fbfbfb solid 2px;
    cursor: pointer;
    background-color: #CA4F4F;
    background-color: !important;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 5px;
    font-weight: 700;
    outline: none;
    }
    
    input[type="submit"]:hover {
    background-color: rgba(54, 54, 54, 1);
    color: #fff;
    }
    
    a {
    text-decoration: none;
    }
    
    #edit {
    color: #FFF;
    background: #49B645;
    padding: 10px;
    border-radius: 3px;
    float: right;
    }
    
    #alinks {
    color: #FFF;
    background: #5C9CEE;
    padding: 10px;
    border-radius: 3px;
    float: right;
    margin-right: 15px;
    }
    
    #delete {
    color: #FFF;
    background: #EE5C5C;
    padding: 10px;
    border-radius: 3px;
    float: right;
    margin-left: 15px;
    }
    
    #MB {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 50px;
    text-align: center;
    color: #E2DDEA;
    font-size: 2em;
    overflow: hidden;
    float:right;
    }
    
    .mm{
    display:none;
    }
    
    #yes {
    background: rgb(1, 182, 1);
    width: 100px;
    margin-top: 25px;
    outline: none;
    }
    
    #no {
    background: #F00;
    width: 100px;
    outline: none;
    }
    
    #list li {
    list-style: none;
    background: #E6E6E6;
    padding: 10px;
    margin-bottom: 5px;
    width: 80%;
    height: 40px;
    font-family: arial;
    font-size: 12px;
    border: solid 1px #DBDBDB;
    }
    
    #list p {
    float: left;
    color: #444;
    }
    
    
    .mlist {
    background: #EEEEEE;
    padding: 3px;
    padding-left: 10px;
    border-bottom: 1px solid #D5D5D5;
    font-family: arial;
    font-size: 12px;
    }
    
    .mlist li {
    list-style: none;
    color: #252525;
    }
    
    
    .mlist:hover {
    background: #E9E9E9;
    }
    
    #logo {
    height: 100px;
    width: 100%;
    background: #CA4F4F;
    background-color: !important;
    overflow: hidden;
    cursor: default;
    }
    
    #logo h1 {
    line-height: 3;
    padding: 5px;
    font-size: 28px;
    font-family: arial;
    text-align: center;
    color: #FFFFFF;
    }
    
    #info h2 {
    font-family: arial;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 66px;
    margin-left: 8px;
    width: 100%;
    height: 15px;
    overflow: hidden;
    }
    
    ul {
    list-style: none;
    margin: 0;
    width: 100%;
    float: right;
    }
    
    #nav a {
    color: #C9C9C9;
    text-decoration: none;
    font-family: arial, FontAwesome;
    font-size: 12px;
    padding: 9px;
    border-bottom: solid 1px #12161F;
    width: 42%;
    float: left;
    }
    
    #nav a:hover {
    background: #1F2430;
    }
    
    
    ::-webkit-scrollbar {
    width: 8px;
    }
     
    /* Track */
    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(77, 77, 77, 0.96);
    }
     
    ::-webkit-scrollbar-thumb {
    background: rgba(116, 116, 116, 0.8);
    }
    
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(116, 116, 116, 0.1); 
    }
    
    scrollbar {
       -moz-appearance: none !important;
       background: rgb(0,255,0) !important;
    }
    
    #username {
    width: 98%;
    height: 30px;
    margin-bottom: 1px;
    border: 0;
    outline: none;
    padding: 5px;
    }
    #password {
    width: 98%;
    height: 30px;
    border: 0;
    outline: none;
    padding: 5px;
    }
    .login_button {
    width: 100%;
    height: 40px;
    border: 0;
    background: #5cb811;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    }
    
    .register_button {
    width: 100%;
    height: 40px;
    border: 0;
    background: #1190B8;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    }
    
    #or {
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-size: 17px;
    }
    
    /*///////////////////////*/
    /* Mobile/Responsive CSS */
    /*///////////////////////*/
    
    @media only screen and (max-width: 800px){
    
    #menu {
    display: block;
    }
      
    #ft-movie-info {
      width: 100%;
    }
      
      
    #delete {
    padding: 10px;
    height: 20px;
    border-radius: 0px;
    margin-left: 0;
    }
    #edit {
    padding: 10px;
    height: 20px;
    border-radius: 0px;
    }
    #alinks {
    padding: 10px;
    height: 20px;
    border-radius: 0px;
    margin-right: 0;
    }
    
    #list li {
    padding:0px;
    padding-left: 5px;
    width: 94%;
    }
    
    #left {
    overflow: hidden;
    width: 100%;
    height: 60px;
    }
    #content {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    }
    #logo h1 {
    line-height: 2;
    }
    #logo {
    height: 60px;
    }
    .post_info {
    margin-bottom: 30px;
    width: 90%;
    }
    input[type="text"], input[type="url"] {
    width: 95%;
    }
    }
    @media only screen and (max-width: 380px){
    .post {
    width: 95%;
    }
    .post_title {
    width: 95%;
    }
    #menu {
    display: block;
    }
    #logo h1 {
    font-size: 24px;
    margin-left: 20px;
    }
    input[type="text"], input[type="url"] {
    width: 95%;
    }
    #list li {
    padding:0px;
    padding-left: 5px;
    width: 94%;
    }
    }