
body {
  background: #3C3C3C;
  margin: 0;
  transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  }
  @font-face {
    font-family: "Linux Libertine";
    src: url("fonts/bpicons.woff") format('woff');
  }
  html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  #content {
  transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  width: 78%;
  float: right;
  height: 450px;
  padding: 10px;
  }
  
  
  #ft-movie {
  width: 100%;
  height: 200px;
  background-color: #333;
  float: right;
  cursor: pointer;
  }
  
  #ft-movie-info {
  height: 80px;
  width: 80%;
  background: rgba(0, 0, 0, 0.81);
  color: #fff;
  position: relative;
  top: 120px;
  float: right;
  }
  
  #ft-movie-info p {
  padding: 30px;
  margin: 0;
  font-size: 19px;
  color: #EEE;
  }
  
  #left {
  background: #232426;
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  }

  ::-webkit-scrollbar{
    direction:  ltr;
  }
  #searchBox, #filterBox {
    padding: 3px;
    margin-bottom: 20px;
    border: 0px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    margin-left: 20px;
    width: 180px;
    text-align: right;
}
  #fullscreen {
  color: #000;
  height: 30px;
  width: 30px;
  padding: 0px;
  margin-bottom: 20px;
  border: 0px solid #ccc;
  border-radius: 100px;
  outline: none;
  margin-top: 0px;
  margin-left: 20px;
  background: url('https://cdn1.iconfinder.com/data/icons/ionicons-fill-vol-2/512/scan-circle-512.png');
  background-color: white;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;

}
#fullscreen:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: -webkit-filter .3s linear;
  -moz-transition: -webkit-filter .3s linear;
  -ms-transition: -webkit-filter .3s linear;
  -o-transition: -webkit-filter .3s linear;
  transition: -web-filter .3s linear;
  }
  #menu {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #B43C3C;
  background-color:#000000;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  line-height: 2;
  color: #FFB8B8;
  font-size: 30px;
  }
  
  #xmenu {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #B43C3C;
  background-color:#000000;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  line-height: 2;
  color: #FFB8B8;
  font-size: 30px;
  }
  
  #right {
  background: #D8D8D8;
  border-left: solid 1px #BDBDBD;
  width: 20%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  float: right;
  }
  
  .post {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 240px;
  background: #414141;
  float: left;
  margin: 5px;

  }
  
  #fav {
  font-size: 13px;
  padding: 15px;
  width: 100%;
  margin: 0;
  background: #09627E;
  text-decoration: none;
  color: #fff;
  border: 0;
  position: absolute;
  bottom: 0;
  }
  
  #fav:hover {
  height: 100%;
  font-size: 15px;
  padding-top: 112px;
  background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/19e7d59/images/p/glyph-heart-pop-big.png') center center;
  background-size: 80%;
  background-repeat: no-repeat;
  }
  
  #fav:active {
  background-size: 120%;
  }
  
  #delete-fav {
  font-size: 13px;
  padding: 10px;
  width: 30px;
  height: 40px;
  overflow: hidden;
  line-height: 2;
  margin: 0;
  background: #E94545;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  }
  
  #delete-fav:hover {
  width: 100%;
  font-size: 10px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  }
  
  #info {
  height: 100px;
  margin-top: 140px;
  margin-right: 0px;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }
  
  label {
  cursor: pointer;
  }
  
  .green {
  cursor: pointer;
  background-color: #5BD13E!important;
  border: 0px solid #BEBCBC!important;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 38px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #AADE7C;
  width: 200px;
  padding: 0!important;
  height: 50px!important;
  }
  
  .green:hover {
  background-color: #4EAD36!important;
  }
  
  hr {
  color: #DDDDDD;
  border: 1px solid;
  }
  
  .post:hover {
  -webkit-filter: brightness(85%);
  -webkit-transition: -webkit-filter .3s linear;
  -moz-transition: -webkit-filter .3s linear;
  -ms-transition: -webkit-filter .3s linear;
  -o-transition: -webkit-filter .3s linear;
  transition: -web-filter .3s linear;
  }
  
  .no_post_hover:hover{
    -webkit-filter: brightness(100%);
  }
  
  h1 {
  margin: 0;
  padding: 5px;
  font-size: 19px;
  text-align: center;
  color: #F3F3F3;
  }
  
  h2 {
  color: #5F5F5F;
  margin: 4px;
  font-size: 20px;
  }
  
  .post_title {
  color: #5F5F5F;
  margin: 50;
  float: right;
  text-align: right;
  width: 50%;
  }
  
  .post_info {
  color: #8F8F8F;
  margin-right: 8px;
  text-align: right;
  min-height: 155px;
  width: 8%;
  margin-top: 10px;
  }

  #trailer {
  color: #E6E6E6;
  background: #e74c3c;
  background-color: #000000;
  float: left;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  }
  
  #trailer:hover {
  background: #F35C4D;
  background-color: #000000;
  }
  
  
  #links {
  width: 97%;
  background: #E4E4E4;
  border: solid 1px #D6D6D6;
  float: left;
  overflow: hidden;
  }
  
  .fa {
  font-size: 15px;
  }
  
  #space {
  height: 50px;
  clear: both;
  }
  
  #social_btns {
  height: 50px;
  }
  
  input[type="text"],input[type="url"] {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px;
  margin-bottom: 10px;
  width: 80%;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.13);
  }
  
  input[type="text"]:focus {
  border: 1px solid rgba(110, 68, 68, 0.41);
  }
  
  input[type="submit"] {
  float: left;
  width: 200px;
  border: #fbfbfb solid 2px;
  cursor: pointer;
  background-color: #CA4F4F;
  background-color: #000000;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 5px;
  font-weight: 700;
  outline: none;
  }
  
  input[type="submit"]:hover {
  background-color: rgba(54, 54, 54, 1);
  color: #fff;
  }
  
  a {
  text-decoration: none;
  }
  
  #edit {
  color: #FFF;
  background: #49B645;
  padding: 10px;
  border-radius: 3px;
  float: right;
  }
  
  #alinks {
  color: #FFF;
  background: #5C9CEE;
  padding: 10px;
  border-radius: 3px;
  float: right;
  margin-right: 15px;
  }
  
  #delete {
  color: #FFF;
  background: #EE5C5C;
  padding: 10px;
  border-radius: 3px;
  float: right;
  margin-left: 15px;
  }
  
  #MB {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 50px;
  text-align: center;
  color: #E2DDEA;
  font-size: 2em;
  overflow: hidden;
  float:right;
  }
  
  .mm{
  display:none;
  }
  
  #yes {
  background: rgb(1, 182, 1);
  width: 100px;
  margin-top: 25px;
  outline: none;
  }
  
  #no {
  background: #F00;
  width: 100px;
  outline: none;
  }
  
  #list li {
  list-style: none;
  background: #E6E6E6;
  padding: 10px;
  margin-bottom: 5px;
  width: 80%;
  height: 40px;

  font-size: 12px;
  border: solid 1px #DBDBDB;
  }
  
  #list p {
  float: left;
  color: #444;
  }
  
  
  .mlist {
  background: #EEEEEE;
  padding: 3px;
  padding-left: 10px;
  border-bottom: 1px solid #D5D5D5;
  font-size: 12px;
  }
  
  .mlist li {
  list-style: none;
  color: #252525;
  }
  
  
  .mlist:hover {
  background: #E9E9E9;
  }
  
  #logo {
  height: 100px;
  width: 100%;
  background: #CA4F4F;
  background-color:#000000;
  overflow: hidden;
  cursor: default;
  }
  
  #logo h1 {
  line-height: 3;
  padding: 5px;
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
  }
  
  #info h2 {
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 66px;
    margin-left: 0px;
    width: 90%;
    height: 15px;
    overflow: hidden;
    }
  
  ul {
  list-style: none;
  margin: 0;
  width: 100%;
  float: right;
  }
 
  #nav a {
  text-align: right;
  color: #C9C9C9;
  text-decoration: none;
  font-size: 12px;
  padding: 9px;
  border-bottom: solid 1px #232426;
  width: 42%;
  float: left;
  }
  
  #nav a:hover {
  background: #1F2430;
  }
  
  #or {
  padding: 20px;
  text-align: center;
  font-family: arial;
  font-size: 17px;
  }
  
  /*///////////////////////*/
  /* Mobile/Responsive CSS */
  /*///////////////////////*/
  
  @media only screen and (max-width: 800px){
  
  #menu {
  display: block;
  }
    
  #ft-movie-info {
    width: 100%;
  }
    
    
  #delete {
  padding: 10px;
  height: 20px;
  border-radius: 0px;
  margin-left: 0;
  }
  #edit {
  padding: 10px;
  height: 20px;
  border-radius: 0px;
  }
  #alinks {
  padding: 10px;
  height: 20px;
  border-radius: 0px;
  margin-right: 0;
  }
  
  #list li {
  padding:0px;
  padding-left: 5px;
  width: 94%;
  }
  
  #left {
  overflow: hidden;
  width: 100%;
  height: 60px;
  }
  #content {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  }
  #logo h1 {
  line-height: 2;
  }
  #logo {
  height: 60px;
  }
  .post_info {
  margin-bottom: 30px;
  width: 90%;
  }
  input[type="text"], input[type="url"] {
  width: 95%;
  }
  }
  @media only screen and (max-width: 380px){
  .post {
  width: 100%;
  }
  .post_title {
  width: 100%;
  }
  #menu {
  display: block;
  }
  #logo h1 {
  font-size: 24px;
  margin-left: 20px;
  }
  input[type="text"], input[type="url"] {
  width: 95%;
  }
  #list li {
  padding:0px;
  padding-left: 5px;
  width: 94%;
  }
  }